<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <label class="pull-left">
        <h4 class="f-s-b m-t-20 m-b-20"> {{currentLanguageSet?.contentManagement}} </h4>
      </label>
  </div>
  <div class="row">
  <div class="col-xs-12 col-sm-12">
      <!--Form Start  -->
      <form [formGroup]="knowledgeForm" (ngSubmit)="onSubmit(knowledgeForm)" autocomplete="off" novalidate>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 p-b-1-5">
            <md-select placeholder="{{currentLanguageSet?.selectService}}" required [style.width]="'100%'" name="service" formControlName="service"
              (change)="getCategory($event.value)">
              <md-option *ngFor="let service of services" [value]="service">
                {{service.subServiceName}}
              </md-option>
            </md-select>
            <!-- Validation Field -->
        </div>
        <div  class="col-xs-12 col-sm-6 col-md-3 col-lg-3 p-b-1-5" *ngIf="!(BloodRequestMode)">
            <md-select placeholder="{{currentLanguageSet?.selectCategory}}" required [style.width]="'100%'" name="category" formControlName="category" (change)="getSubCategory($event.value)">
              <md-option *ngFor="let category of categories" [value]="category.categoryID">
                {{category.categoryName}}
              </md-option>
            </md-select>
            <!-- Validation Field -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 p-b-1-5" *ngIf="!(BloodRequestMode)">
            <md-select placeholder="{{currentLanguageSet?.selectSubCategory}}" required [style.width]="'100%'" formControlName="subCategory" (change)="getSubcategoryObject($event.value)">
              <md-option *ngFor="let subCategory of subCategories" [value]="subCategory.subCategoryID">
                {{subCategory.subCategoryName}}
              </md-option>
            </md-select>
            <!-- Validation Field -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
          <label for="upload-file">{{currentLanguageSet?.uploadFilesizeLimit}} :{{maxFileSize}} {{currentLanguageSet?.mb}} , {{currentLanguageSet?.supportedFileFormats_msg_pdf_png_jpeg_jpg}})</label><em>*</em>
          <input type="file" #myInput name="file" required (change)="changeListener($event)" />
          <input type="hidden" name="fileHidden" required formControlName="fileInput" />
          <!-- Validation Field -->
          <!-- Validation Field -->
          <span class="help-block" *ngIf="invalid_file_flag">
            {{currentLanguageSet?.supportedFileFormats_msg_pdf_png_jpeg_jpg}}
          </span>

          <span class="file-upload" *ngIf="error1">*{{currentLanguageSet?.pleaseChooseAFileForUpload}}</span>
          <span class="help-block" *ngIf="error2">{{currentLanguageSet?.fileSizeShouldNotExceed}} {{maxFileSize}} {{currentLanguageSet?.mb}}</span>
          <span class="help-block" *ngIf="invalidFileNameFlag">{{currentLanguageSet?.invalidFileName}}</span>
          <span class="error" *ngIf="knowledgeForm.get('fileInput').touched && knowledgeForm.get('fileInput').hasError('required')">
            {{currentLanguageSet?.fileIsRequired}}
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6 col-sm-6 form-group" *ngIf="(subcategoryOBJ?.subCatFilePath) && (subcategoryOBJ?.subCatFilePath != null ||subcategoryOBJ?.subCatFilePath != undefined)">
          <label>{{currentLanguageSet?.previousUploadedFile}} <a *ngIf="(subcategoryOBJ?.subCatFilePath) && (subcategoryOBJ?.subCatFilePath != null ||subcategoryOBJ?.subCatFilePath != undefined)" href="{{subcategoryOBJ?.fileURL}}" target="_blank">{{subcategoryOBJ?.fileNameWithExtension?subcategoryOBJ?.fileNameWithExtension:'-'}}</a></label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
          <button type="submit" class="pull-right" md-raised-button color="accent" [disabled]="knowledgeForm.invalid||invalid_file_flag|| error2 || invalidFileNameFlag">{{currentLanguageSet?.save}}</button>

        </div>

        <!--Comment Start Date and End Date here  -->
      </form>
      <!--Form End  -->
    </div>
    </div>
</div>
