h5{
    font-weight: bold;
}

.textarea-full-width {
    width: 100%;
}
.control-label{
    font-weight: normal;
}
.radio-group {
    display: inline-flex;
    flex-direction: column;
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
}
.radio-button {
    margin: 10px;
    margin-right: 25px;
}
.input-full-width {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.box {
    height: 60px;
}

.autocomplete{
    padding: 0px 16px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.error_text {
    color: #F2F2F2;
}
.pccStyle {
    /*border-bottom: 1px solid #ccc;*/
    margin-top: 40px;
  }
  
  .md2-autocomplete-trigger {
    font-weight: bolder !important;
  }
  
  tfoot>tr>td {
    border-top: none!important;
  }

  .scrolldiv{ 
    width: 450px; height: 100px; 
    overflow-x: hidden; overflow-y: auto; 
    padding: 0px 10px 10px 0px;
 }

 .div-center {
    float: right !important;
    margin-top: 10px;
 }