<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 p-t-10 p-b-10">
      <div class="bs-wizard animate-box" style="position: relative; z-index: 1">
        <div id="two" class="col-xs-2 bs-wizard-step disabled">
          <div class="text-center hidden-xs hidden-sm font-Light">
            {{ assignSelectedLanguageValue?.provideService }}
          </div>
          <div
            class="
              text-center
              hidden-md hidden-lg
              visible-xs visible-sm
              font-Light
            "
          >
            A S
          </div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer active-tab"></a>
        </div>
        <div id="four" class="col-xs-2 bs-wizard-step disabled">
          <div class="text-center hidden-xs hidden-sm font-Light">
            {{ assignSelectedLanguageValue?.closure }}
          </div>
          <div
            class="
              text-center
              hidden-md hidden-lg
              visible-xs visible-sm
              font-Light
            "
          >
            R M M
          </div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="">
    <div class="panel-body card p-a-0 bg-white m-b-25">
      <div class="container-fluid p-a-0 height-420 overflow-y">
        <div class="">
          <div
            id="myCarousel"
            class="carousel slide"
            data-ride="carousel"
            data-interval="false"
            data-wrap="false"
          >
            <!-- Carousel indicators -->
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <app-sio-services
                  (outBoundOnCall)="callStatus($event)"
                ></app-sio-services>
              </div>
              <div class="item">
                <app-closure
                  (callClosed)="closeCall()"
                  #closure
                  (callContinue)="continueCall()"
                ></app-closure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 m-b-8 m-t-8">
        <button
          *ngIf="
            current_campaign == 'OUTBOUND' && outboundFor == 'Blood Request'
          "
          [disabled]="disableWorklist"
          type="button"
          md-raised-button
          color="primary"
          class="pull-left font-regular f-s-18"
          (click)="backToWorklist()"
        >
          Worklist
        </button>
        <div class="div-center">
          <button
            md-raised-button
            color="primary"
            [disabled]="true"
            id="cancelLink"
            type="button"
            class="font-regular f-s-18 m-r-10"
            data-slide-to="1"
            (click)="openDialog()"
          >
            {{ assignSelectedLanguageValue?.cancel }}
          </button>
          <button
            md-raised-button
            color="primary"
            [disabled]="disableClosure"
            id="closureLink"
            type="button"
            class="font-regular f-s-18"
            data-slide-to="3"
            (click)="openDialogClosure()"
          >
            {{
              assignSelectedLanguageValue?.closure
                ? assignSelectedLanguageValue?.closure
                : "Close Call"
            }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
