.mar-top-10 {
  margin-top: 10px;
}
.mar-top-20 {
  margin-top: 20px;
}
.mar-top-30 {
    margin-top: 30px;
  }
  .mar-rig-10 {
    margin-right: 10px;
  }
.mat-select {
  font-family: inherit!important;
}