.md-small {
    width: 20px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
}

.table-color>tbody:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.pageName {
    margin: 25px 0px 0px 0px;
}
/* .mat-input-infix{

    border-top:0px !important;
}
.mat-input-wrapper {
    padding-bottom: 1em !important;
} */